.container {
    background-color: black;
    padding: 100px 150px;
}
.signup {
    background-color: #000000;
}
.box {
    color: #FFFFFF;
    border-bottom: 1px solid white;
    padding: 10px;
    padding-left: 0;
}
.box2 {
    color: #FFFFFF;
    padding: 10px;
    padding-left: 0;
}
